{% extends 'base.html' %}

{% block content %}
    <br>
    {% if msg %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{msg}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
    <br>
    <div class="container d-flex justify-content-center align-items-center vh-100">
      <div class="text-center">
      <h1>STAFF LOGIN</h1>
      <div class="card text-center" style="width: 35rem;">
        <div class="card-body">
            <form action="" method=POST>
              {% csrf_token %}
              {{form.as_p}}
              <a href="{% url 'registration' %}" class="card-link">Registration Here</a><br><br>
              <input type="submit" class="btn btn-primary" value="submit">
            </form>
          </div>
        </div>
      </div>
    </div>
{% endblock %}